

  <div class="jumbotron">
    <h1>Distance Monitoring</h1>
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>

  <div class="row marketing">
    <div class="col-lg-6">
      <h4>Subheading</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    </div>

    <div class="col-lg-6">
      <h4>Subheading</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
  </div>

  <footer class="footer">
    <p>&copy; Company 2014</p>
  </footer>
     