

  <div class="jumbotron">
    <h1>Distance Monitoring</h1>
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>

  <footer class="footer">
    <p>&copy; Chellem 2014</p>
  </footer>
     